@model LeavePlannerApp2.Models.LeaveType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>LeaveType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LeaveTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaveTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveTypeDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaveTypeDays)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LeaveTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
